<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>FCM</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
